{% extends 'blog/base.html' %} {% load static %} {% block content %}
    <div class="big-section">
        <div class="content-bg">
            <p style="letter-spacing: 10px;margin: 15px 0 15px  0;">ЭТОТ ПАРЕНЬ </p>
            <h1 style="margin: 15px 0 15px 0">Артем</h1>
            <p style="margin: 15px 0 15px 0">Самый кочевый чел в мире </p>
            <p class="subtext" style="margin: 10px 0 10px 0; color :#aaaaaa;">Он даст вам пизды</p>

        </div>
        <a class="btn btn-success" href="{% url 'get' %}" style=" position: absolute;
  top: 370px;
  left: 60px;">Получить пизды</a>
        <img src="{% static 'img/bg1.png' %} " class="bg1">
    </div>
    <hr>




    <blockquote class="blockquote-6">
        <p>Учение без размышления бесполезно, но и размышление без учения опасно. Не тот велик, кто никогда не падал, а
            тот велик — кто падал и вставал. Красота есть во всем, но не всем дано это видеть. Благородный человек
            предъявляет требования к себе, низкий человек предъявляет требования к другим.</p>
        <cite>конфуций</cite>
    </blockquote>

    <br>
    <h1 align="center">Качки года сего</h1>
    <p style="text-align: center;margin:30px">самые лучшие нечисти этого мира, только они способны уничтожить этот мир
        нахуй своей красотой, и уродством</p>

    <hr>
    <section>
        <div class="main_grid">
            <div class="grid">

                {% for project in projects %}
                    <div class="contents">
                        <img src="{{ project.image.url }}">
                        <div class="fix">
                            <div class="cardhead">
                                <h2 style="margin: auto; text-align: center">{{ project.title }}</h2>

                            </div>
                            <div class="card_description">
                                <p><b>Описание</b></p>
                                <p>{{ project.subtitle }}</p>
                            </div>
                            <div class="card_function">
                                <p><b>Функции качка</b></p>
                                <p>{{ project.functions }}</p>
                            </div>


                        </div>
                        <div class="money">
                            <p>{{ project.money }} RUB</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>




{% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KsCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>