/* Main Text Styles */
.btn.btn-success, .big-section > a, .blog_block {
  border: 1px solid;
  border-color: #9fb7e8;
}

h6 {
  text-indent: 30px;
}

.blockquote-6 {
  max-width: 95%;
  border-left: 6px solid #BFE2FF;
  font-size: 15px;
  font-style: italic;
  margin: 8px;
  padding: 8px;
  position: relative;
}
.blockquote-6 cite {
  color: #337AB7;
  font-size: 20px;
  padding-top: 8px;
  display: block;
  text-align: right;
}

.blog_block {
  padding: 15px;
  background-color: #1f2022;
  margin: 15px 0 15px 0;
  border-radius: 8px;
}

* {
  text-decoration: none;
}

h2 {
  text-decoration: none;
  color: #dedddd;
  font-weight: 600;
  text-align: center;
  margin: 8px;
}

body {
  margin: 0 30px;
}

.big-section {
  position: relative;
  height: 650px;
  color: white;
  background: radial-gradient(23.99% 89.01% at 64.66% 14.89%, rgba(60, 60, 60, 0) 0%, rgba(5, 5, 5, 0) 36.28%, #121212 100%, #121212 108%);
}
.big-section > a {
  background: linear-gradient(337.26deg, rgb(3, 140, 23) 8.54%, rgb(3, 103, 166) 80.91%);
  border-radius: 8px;
  font-size: larger;
  margin: 5% 0 5% 0;
  box-shadow: 0px 4px 8px 0px #000;
  animation: animates 5s linear infinite;
  backdrop-filter: blur(15px);
}
.big-section .content-bg {
  box-sizing: border-box;
  max-height: 25%;
  width: 25%;
  position: absolute;
  top: 162.5px;
  left: 5%;
  text-align: left;
  margin: auto;
}
.big-section .content-bg h1 {
  color: #0e3742;
  font-size: 60px;
  text-align: left;
  outline: none;
  animation: animate 5s linear infinite;
  z-index: 1;
  text-shadow: #fc0 1px 0 10px;
  -webkit-text-stroke-width: thin;
  width: 80%;
}
@keyframes animate {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    color: #0e3742;
    text-shadow: none;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: white;
    text-shadow: 0 0 10px rgb(3, 188, 244), 0 0 20px rgb(3, 188, 244), 0 0 40px rgb(3, 188, 244), 0 0 80px rgb(3, 188, 244), 0 0 160px rgb(3, 188, 244);
  }
}
.big-section img {
  z-index: -1;
  min-height: 3em;
  margin-left: auto;
  margin-right: 0;
}

.btn.btn-success {
  background: linear-gradient(337.26deg, rgb(3, 140, 23) 8.54%, rgb(3, 103, 166) 80.91%);
  border-radius: 8px;
  font-size: larger;
  margin: 5% 0 5% 0;
  box-shadow: 0px 4px 8px 0px #000;
  animation: animates 5s linear infinite;
  backdrop-filter: blur(15px);
}

.div {
  max-width: 80%;
  margin: auto;
}
.div h2, .div h1 {
  text-align: left;
}

.div2 {
  max-width: 11em;
  min-height: 3em;
  margin-left: auto;
  margin-right: 0;
}

a {
  text-decoration: none;
  color: #dedddd;
  text-align: center;
  font-weight: 600;
  margin: 0 2%;
}

header {
  padding: 8px;
  box-shadow: 0px 4px 8px 0px #000;
}
header:hover {
  color: pink;
}

body {
  color: #dedddd;
  background-color: rgb(18, 18, 18);
}

img {
  max-width: 100%;
  opacity: 90%;
  position: relative;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.container {
  max-width: 80%;
}
.container p {
  text-decoration: none;
  color: #dedddd;
  font-weight: 400;
  text-align: left;
  margin: 8px;
}

.blog-content > h6 {
  text-decoration: none;
  color: #dedddd;
  font-weight: 400;
  text-align: left;
  margin: 8px;
}

.blog_block > a {
  text-align: center;
}

.blog-content > h1 {
  text-decoration: none;
  color: #dedddd;
  font-weight: 400;
  text-align: center;
  margin: 8px;
  text-align: center;
}

footer {
  left: 0;
  position: absolute;
  margin-top: 577px;
  width: 100%;
  padding: 8px;
  text-align: center;
  background-color: #000000;
}

h5 {
  margin: 0;
}

.get_block {
  margin: 8px;
  padding: 8px;
  background-color: #151a21;
  border-radius: 8px;
}
.get_block h1 {
  text-align: center;
}

.blog_block p {
  text-align: right;
  color: #bebebe;
}
.blog_block h6 {
  margin: 15px;
}

.card-body {
  background-color: #1f2022;
}

.col_spaces {
  width: 100%;
}
.col_spaces > div {
  height: 100%;
  justify-content: center;
  float: left;
  display: block;
  margin-left: auto;
  margin-right: 4%;
  margin-top: 4%;
  width: 29.3333333333%;
  background-color: rgba(158, 158, 158, 0.31);
  padding: 20px;
  height: 679px;
  border-radius: 5px;
  backdrop-filter: blur(15px);
  border: 1px solid #fff;
  box-shadow: 0 0 5px #000;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0, 45s;
  text-align: center;
}
.col_spaces > div img {
  box-sizing: border-box;
  object-fit: cover;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  height: 263px;
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.51);
}
.col_spaces > div p {
  margin: 0;
  text-align: left;
}
.col_spaces > div hr {
  position: relative;
  top: -35px;
  margin: 0;
  z-index: -1;
}
.col_spaces > div > div {
  width: fit-content;
  border: 20px;
  text-align: center;
}
.col_spaces > div b {
  text-decoration: none;
  color: #dedddd;
  text-align: left;
  font-weight: 600;
}
.col_spaces > div b::before {
  content: " ";
  width: 100%;
}
.col_spaces > div::before {
  color: black;
  transition: 1s;
}
.col_spaces > div:hover::before {
  color: white;
  transition: 1s;
}

section {
  padding: 2% 10%;
}

.bg {
  content: "";
  position: absolute;
  left: 0;
  height: 500%;
  width: 100%;
  background: radial-gradient(65.59% 17.27% at -3.32% 17.41%, #24ff6c 0%, rgba(50, 0, 0, 0) 90.1%);
  z-index: -2;
}

.center {
  text-align: center;
  margin-left: auto;
}

/*# sourceMappingURL=StyleCss.css.map */
