{% extends 'blog/base.html' %} {% load static %} {% block content %}
    <section>
        {% for blog in blog %}
            <form action="{% url 'detail' blog.id %}" target="GET">
                <button class="box">
                    <div class="feed-desktop">
                        <div class="group">
                            <h1>{{ blog.title }}</h1>
                            <h2>{{ blog.subtitle |safe| truncatechars:200 }}</h2>
                        </div>
                        <div class="group-2">
                            <p>@samurai2099</p>
                            <h2>{{ blog.time.day }}<br/>MAY</h2>
                        </div>
                    </div>
                    <div class="tags">
                        <div class="tag"><div><p>#meditation</p></div></div>
                        <div class="tag"><div><p>#mentalpeace</p></div></div>
                    </div>
                </button>
            </form>
        {% endfor %}
    </section>
{% endblock %}
