{% extends 'blog/base.html' %} {% load static %} {% block content %}
    <div class="all-blogs">

        <section>
            <h1 class="center" style="margin: 20px">Самая обычная онлайн галерея</h1>
        <div class="main_grid">
            <div class="grid" style="grid-auto-rows: 375px">
                {% for project in projects %}
                    <div class="content_block" style="height: auto">
                        <img class="bd-placeholder-img card-img-top" style="object-fit: cover;" width="100%"
                             height="225" src="{{ project.image.url }}" role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                        <div class="efd">
                            <div class="ww2d">

                                <p style="text-align: center">{{ project.title }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
         <div class="">
        <h1>все!</h1>
    </div>
    </section>

    </div>
{% endblock %}